<div class="container">
            <nav class="navbar navbar-expand-lg" id="nav">
                <div class="innerNav">                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Notifications</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Messages</a>
                              </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                </div>
                  </nav>

        <div class="mainbody1" id="mainbody1" class="row1">
            <div class="col1" id="user">
                <div class="userBox">
                    <div class="banner"></div>
                    <div class="userInfo">
                        <div class="userPic">
                            <div class="picture"></div>
                            <div class="userName">
                                    <p class="chosenName">J.A.M.S</p>
                                    <p class="chosenUserName">@_jamS_music</p>
                                </div>
                        </div>
                        <div class="userTweets">
                          <div class="col1" id="tweets-info">
                            <span class="tweets">Tweets</span>
                            <span class="tweets-count">12K</span>
                          </div>
                          <div class="col2" id="following-info">
                            <span class="following">Following</span>
                            <span class="following-count">4</span>
                          </div>
                          <div class="col3" id="followers-info">
                            <span class="followers">Followers</span>
                            <span class="followers-count">1.9M</span>
                          </div>
                        </div>
                        <div class="userStartDate">
                          <div class="startDate">
                            <span class="dateJoined">Joined October 10, 2019</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col2" id="tweets-area"> 
               <div class="tweets-icon" class="col1">
                  <div class="tweet-pic"></div>
               </div>
               <div class="tweets-input" class="col2">
                  <p class="tweet-header">Tweet</p>
                 <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Start Typin'.....</span>
                    </div>
                  </div>
               </div>
               <div class="tweets-button">
                 <p>tweet button</p>
               </div>
               <div class="tweets-tweets">
                 <p>tweet tweet</p>
               </div>
            </div>       
            <div class="col3" id="hashtags">
              <p class="worldwide-trends">Worldwide Trends</p>
                <div class="rutgers-trending-row1">
                  <span class="rutgers-hashtag">#Rutgers</span>
                  <span class="rutgers-tweets">3,011 tweets</span>
                </div>
                <div class="goHome-trending-row2">
                  <span class="goHome-hashtag">#IWannaGoHome</span>
                  <span class="goHome-tweets">2,000 tweets</span>
                </div>
                <div class="home-trending-row3">
                    <span class="home-hashtag">#IsItTimeToGoHomeYet</span>
                    <span class="home-tweets">1.3Million tweets</span>
                </div>
                <div class="sleepy-trending-row4">
                    <span class="sleepy-hashtag">#SleepyASF</span>
                    <span class="sleepy-tweets">5,432 tweets</span>
                </div>
                <div class="hungry-trending-row4">
                    <span class="hungry-hashtag">#ImHungry</span>
                    <span class="hungry-tweets">9,472 tweets</span>
                </div>
            </div>
        </div>
        <div class="mainbody2" id="mainbody2" class="row2">
            <div id="music-cubes"> 
                <p>Frankie's Music goes </p>
                <p></p>
            </div>   
        </div>
        </div>
    </div>