<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/login-style.css" >
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
        <div class="container">
        <div class="login">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Username" name="" value="">
            </div>
            <div class="textbox">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Password" name="" value="">
            </div>
            <input class="login-btn" type="button" name="" value="Sign In">
        </div>
        </div>
        
    </body>
    </html>